<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Habitat.Core" version="1.0.1" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net40-Client" />
  <package id="SystemWrapper-sn" version="0.5.3" targetFramework="net40-Client" />
</packages>